@import url('//fonts.googleapis.com/css?family=Roboto:100,400&subset=cyrillic');
/* ================================================== Text & Links */
body, td, div, select, textarea, input {
  font: 14px 'Roboto', Arial, Helvetica, sans-serif;
  color: #747474;
}
h1, h2, h3, h1 a, h2 a, h3 a, legend {
  color:#ffe400;
  font-weight: normal;
  font-weight: 100;
}
h1 {
  font-size: 35px;
}
.container > h1 {
  text-align: center;
}
h2 {
  font-size: 24px;
  margin: 0 0 15px;
}
h3 {
  font-size: 20px;
  margin: 0 0 20px;
}
p {
  line-height: 1.35em;
  margin: 0 0 1em; 
}
a {
  color: #ffe400;
  text-decoration: none;
}
a:hover {
  color: #14a76c;
}
.btn {
  border: 1px solid #747474;
  color: #747474;
  text-transform: uppercase;
  padding: 5px 10px;
  background: transparent;
  cursor: pointer;
  min-width: 100px;
}
.btn:hover {
  color: #ffe400;
}
.btn.ok:hover,
.btn.edit:hover {
  color: #14a76c;
}
.btn.cancel:hover,
.btn.delete:hover {
  color: #ff652f;
}

/* ================================================ Page Structure */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  text-align: left;
  background: #272727;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.no-scroll {
  overflow: hidden;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  left: -100%;
}

/* ======================================================= Content */
.btns-holder {
  margin: 15px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.games {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 30px 0;
}
.game {
  flex: 0 0 300px;
  border-bottom: 2px solid #747474;
  margin: 0 20px 30px;
  padding: 0 0 10px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
}
.game-id, .vote-id, .edit-id {
  display: none;
}
.game-rating {
  width: 100%;
  padding: 10px 15px;
  position: absolute;
  top: -50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  z-index: 10;
}
.game:hover .game-rating {
  top: 0;
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}
.game-image {
  width: 100%;
  padding: 0;
  margin: 0 0 20px;
  overflow: hidden;
  display: block;
  padding: 0 0 46%;
  position: relative;
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
}
.game:hover .game-image {
  -webkit-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='6', shadowopacity='0.0');
  opacity: 0.2;
}
.game-image img {
  width: 100%;
  max-width: 100%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.game-info {
  width: 100%;
  bottom: 0;
  padding: 20px 10px 0;
  position: relative;
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
}
.game:hover .game-info {
  bottom: 100px;
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}
.game .actions {
  width: 100%;
  margin: auto 0 20px;
  position: absolute;
  bottom: -100px;
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
}
.game:hover .actions {
  bottom: 0;
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}


/* ========================================================= Forms */
.form-holder,
.form-status {
  background: rgba(91,91,91,0.8);
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.form-holder-content,
.form-status-content {
  background: #3c3c3c;
  width: 96%;
  max-width: 600px;
  padding: 20px 20px 10px;
  text-align: center;
}
form {
  position: relative;
  margin: 0;
  padding: 0;
}
form input[type="text"],
form textarea {
  border: 1px solid #747474;
  background: transparent;
  color: #fff;
  padding: 5px 10px; 
  margin: 0 0 10px;
  width: 100%;
}
form textarea {
  height: 100px;
  resize: none;
}
form .radio-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 0 30px; 
}
form .radio label {
  margin: 0 13px 5px 0;
  position: relative;
  padding: 0 0 0 18px;
  cursor: pointer;
  z-index: 10;
}
form .radio label:before,
form .radio label:after {
  content: '';
  margin: 0;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 50%;
}
form .radio label:before {
  width: 14px;
  height: 14px;
  border: 1px solid #747474;
}
form .radio label:after {
   width: 8px;
   height: 8px;
   background: #747474;
   top: 4px;
   left: 3px;
   display: none;
}
form .radio input[type="radio"]:checked ~ label:after {
   display: block;
}
form .radio input[type="radio"] {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
form .actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
form .actions button {
  margin: 0 2px 10px;
}
.form-status-content {
  text-align: center;
}
.form-status-content .success {
  color: #14a76c;
}
.form-status-content .error {
  color: #ff652f;
}